@use "sass:map";

$font-family-base: "Noto Sans JP", sans-serif;
$font-family-base-2: "Montserrat", sans-serif;
$color-base: #333;
$background-base: #fff;
$font-size-base: 16px;
$line-height-base: 1.7;
$font-wight-base: 400;
$header-height: 80px;
$width-inner: 1280px;
$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1200px)",
);

@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 重なり順の定義
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);

@function layer($key) {
  @return map.get($layer, $key);
}

body {
  font-family: $font-family-base;
  color: $color-base;
  background: $background-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-wight-base;
  font-style: normal;
}

.section-spacing {
  padding-block: 60px;

  @include mq(md) {
    padding-block: 100px;
  }
}

.inner {
  padding-inline: 15px;
  margin-inline: auto;
  width: 100%;

  @include mq(md) {
    max-width: calc(1120px + 80px * 2);
    padding-inline: 80px;
  }
}

.section__head {
  color: #238fdc;
  font-family: $font-family-base-2;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;

  @include mq(md) {
    font-size: 36px;
    letter-spacing: 3.6px;
  }

  &::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #2bc8c8;
  }
}

.heading {
  // padding-inline: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 30px;

    // padding-inline: 100px;
  }
}

.heading__title {
  color: #228ddd;
  font-family: $font-family-base-2;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3.6px;
}

.heading__subtitle {
  color: #228bde;
  font-size: 14px;
  letter-spacing: 2.66px;
}

.button {
  display: inline-block;
  padding: 9px 54px;
  border-radius: 48px;
  background: linear-gradient(90deg, #2188de 1.75%, #2bcbc6 97.75%);
  box-shadow: 4px 3px 26px 0 rgb(0 0 0 / 16%);
  color: #f6f7f7;
  font-weight: 700;
  letter-spacing: 3px;
}

.buttons {
  display: inline-block;
  padding-block: calc(9px - 1px);
  padding-inline: calc(54px - 1px);
  border-radius: 2px;
  border: 1px solid #2392db;
  box-shadow: 4px 3px 26px 0 rgb(0 0 0 / 16%);
  color: #2392db;
  font-weight: 700;
  letter-spacing: 3px;
}

/* -------------------------
   header
  ------------------------- */

.header {
  background: #eaf4f7;
}

.header__inner {
  @include mq(md) {
    padding-inline: 20px;
  }

  @include mq(lg) {
    max-width: calc(1200px + 40px * 2);
    padding-inline: 40px;
  }
}

.header__content {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  a {
    img {
      display: block;
      width: 160px;
    }
  }
}

.header__open {
  @include mq(md) {
    display: none;
  }
}

.drawer-icon {
  width: 40px;
  height: 20px;
  margin-top: -2px;
  position: relative;
  z-index: layer(header);

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: 14px;
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        top: 14px;
        transform: rotate(-45deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 3px;
  background: #2082e0;
  border-radius: 10px;
  transition:
    transform 0.4s linear,
    top 0.4s linear;

  // &:nth-of-type(1) {
  // }

  &:nth-of-type(2) {
    top: 10px;
  }

  &:nth-of-type(3) {
    top: 20px;
  }
}

.drawer-icon__color {
  background: $background-base;
  margin-inline: 6px;
}

.header__nav {
  background: linear-gradient(
    180deg,
    rgb(34 142 221 / 90%) 0%,
    rgb(43 198 201 / 90%) 100%
  );
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s linear;

  &.is-checked {
    transform: translateX(0);
  }

  @include mq(md) {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}

.header__logo-secondary {
  text-align: center;
  margin-top: 130px;

  a {
    img {
      width: 180px;
    }
  }

  @include mq(md) {
    display: none;
  }
}

.header__list {
  margin-top: 60px;

  @include mq(md) {
    margin-top: 0;
  }
}

.header-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  @include mq(lg) {
    gap: 30px;
  }

  @include mq(xl) {
    gap: 44px;
  }
}

.header-list__item {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  @include mq(md) {
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      margin-top: 21px;
      width: 122px;
      height: 5px;
      background: #2082df;
      visibility: hidden;
      transition: transform 0.4s linear;
    }

    &:hover::after {
      visibility: visible;
    }
  }
}

.header-list__link {
  color: #fff;
  font-size: 20px;
  font-weight: 700;

  @include mq(md) {
    font-weight: 500;
    color: $color-base;
    font-size: clamp(0.938rem, 0.577rem + 0.75vw, 1rem);
  }
}

.header-list__button {
  display: none;

  @include mq(md) {
    display: block;
    margin-top: 5px;
  }
}

#js-focus-trap {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

/* -------------------------
   fv
  ------------------------- */

.fv {
  background: linear-gradient(180deg, #eaf4f7 0%, #fff 100%);
  padding-top: 20px;
  padding-bottom: 80px;
}

// .fv__inner {
// }

.fv__container {
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.fv__image {
  display: block;

  // max-width: 398px;
  margin-inline: auto;

  @include mq(md) {
    margin-inline: 0;
    margin-top: 30px;
    max-width: 650px;
  }

  img {
    @include mq(md) {
      margin-top: -20px;
    }
  }
}

.fv__content {
  margin-top: 40px;
  text-align: center;

  @include mq(md) {
    margin-top: 10px;
    text-align: left;
  }
}

.fv__logo {
  img {
    max-width: 250px;
  }
}

.fv__title {
  margin-top: 20px;
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 700;

  @include mq(md) {
    font-size: clamp(1rem, -0.107rem + 2.31vw, 1.625rem);
  }

  @include mq(lg) {
    margin-top: 24px;
  }
}

.fv__text {
  margin-top: 20px;
  line-height: 200%;

  @include mq(md) {
    font-size: clamp(0.875rem, 0.154rem + 1.5vw, 1rem);
  }

  @include mq(lg) {
    margin-left: 3px;
  }
}

.fv__button {
  margin-top: 30px;
}

/* -------------------------
   news
  ------------------------- */

// .news {
// }

.news__inner {
  @include mq(md) {
    max-width: calc(930px + 80px * 2);
  }
}

.news__heading {
  @include mq(md) {
    gap: 3px;
  }
}

.news__list {
  margin-top: 46px;

  @include mq(md) {
    margin-top: 60px;
  }
}

.news__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 10px;
  padding-bottom: 12px;

  @include mq(md) {
    flex-direction: row;
    gap: 30px;
    padding-top: 12px;
    padding-bottom: 11px;
  }
}

.news__link {
  padding-bottom: 9px;

  @include mq(md) {
    gap: 49px;
    padding-block: 11px;
  }
}

.news__date {
  font-size: 14px;

  @include mq(md) {
    font-size: $font-size-base;
  }
}

.news__date-1 {
  @include mq(md) {
    margin-top: 13px;
  }
}

.news__title {
  margin-top: 8px;
  color: #111;
  font-size: 15px;

  @include mq(md) {
    margin-top: 0;
    font-size: $font-size-base;
    max-width: 781px;
  }
}

.news__title-1 {
  margin-top: 7px;

  @include mq(md) {
    margin-top: -1px;

    // margin-bottom: 12px;
  }
}

.news__title-2 {
  @include mq(md) {
    width: 59vw;
  }

  @include mq(lg) {
    width: 65vw;
  }

  @include mq(xl) {
    width: 70vw;
    max-width: 780px;
  }
}

.news__foot {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 26px;
  }
}

.news__pagination {
  margin-top: 46px;

  @include mq(md) {
    gap: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(5vw, 20px);
  @include mq(md) {
    margin-top: 0;
    gap: 20px;
  }
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 9px 12px;
  width: clamp(30px, 9vw, 36px);
  height: clamp(30px, 9vw, 36px);
  border: 1px solid #828282;
  transition: all 0.15s linear;
  color: #707070;
  font-family: $font-family-base-2;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.44px;
  position: relative;

  @include mq(md) {
    width: 36px;
    height: 36px;
  }

  &.isActive {
    background: #228ddd;
    color: #fff;
    pointer-events: none;
  }

  :not(.isActive):hover {
    text-decoration: none;
  }
}

.pagination__link {
  position: relative;
  display: flex;
}

.pagination__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.news__button {
  text-align: center;
  margin-top: 31px;

  @include mq(md) {
    margin-top: 0;
  }
}

.news__button-link {
  padding-block: calc(5px - 1px);
  padding-inline: calc(24px - 1px);
  letter-spacing: 2.2px;
}

/* -------------------------
     concept
    ------------------------- */

.concept {
  background: #f4fbff;
}

.concept__inner {
  padding-inline: 20px;

  @include mq(md) {
    padding-inline: calc(40px + 40 * ((100% - 768px) / (899 - 768)));
    max-width: calc(899px + 40px * 2);
  }

  @include mq(lg) {
    padding-inline: 80px;
    max-width: calc(980px + 80px * 2);
  }
}

.concept__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 30px;

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }

  @include mq(lg) {
    gap: 80px;
  }
}

.concept__image {
  text-align: center;
  padding-inline: 39px;

  @include mq(md) {
    flex: 1;
    max-width: 50%;
    padding-inline: 0;
  }

  img {
    @include mq(md) {
      width: 100%;
      max-width: 450px;
    }
  }
}

.concept__content {
  @include mq(md) {
    flex: 1;
    max-width: 50%;
  }
}

.concept__title {
  color: #228ddd;
  font-size: 24px;
  font-weight: 700;

  @include mq(md) {
    font-size: 26px;
  }
}

.concept__text {
  font-size: 15px;
  line-height: 200%;
  margin-top: 30px;
}

.concept__button {
  margin-top: 31px;
  text-align: center;

  @include mq(md) {
    margin-top: 36px;
    text-align: left;
  }
}

/* -------------------------
   work
  ------------------------- */

.work {
  padding-bottom: 70px;

  @include mq(md) {
    padding-block: 100px;
  }
}

.work__inner {
  padding-left: 20px;
  padding-right: 0;

  @include mq(md) {
    padding-inline: 40px;
  }

  @include mq(lg) {
    padding-inline: 80px;
    max-width: calc(1120px + 80px * 2);
  }
}

.work-heading {
  padding-left: 10px;
  gap: 3px;

  @include mq(md) {
    padding-left: 0;
    gap: 27px;
  }
}

// .work__heading-title {
// }

// .work__heading-subtitle {
// }

.work__slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__swiper {
  margin-top: 49px;
  padding-bottom: 42px;
  display: flex;

  @include mq(md) {
    max-width: 996px;
    margin-top: 40px;
    padding-bottom: 57px;
    padding-inline: 1px;
  }
}

.work__slide {
  filter: drop-shadow(5px 7px 34px #f1f1f1);
  border-radius: 4px;
  background: var(--ffffff, #fff);
  width: 320px;
}

// .work__card {
// }

// .work-card {
// }

// .work-card__image {
// }

.work-card__content {
  display: flex;
  flex-direction: column;
  margin-block: 14px;
  padding-left: 10px;
}

.work-card__title {
  color: #228ddd;
  font-size: 15px;
  font-weight: 700;
}

.work-card__box {
  display: flex;
  gap: 10px;
}

.work-card__text {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  margin-top: 13px;
}

.work-card__label {
  color: #9d9d9d;
  font-size: 12px;
  margin-top: 9px;
}

.work__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  bottom: 0 !important;
  padding-right: 20px;

  @include mq(md) {
    padding-right: 0;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    margin-inline: 0 !important;
    opacity: 1;
    border-radius: 12px;
    background: #e1e1e1;

    &.swiper-pagination-bullet-active {
      background: #2f7dc8;
    }
  }
}

.work__prev,
.work__next {
  width: 44px;
  height: 44px;
  margin-top: -19px;

  @include mq(md) {
    margin-top: -32px;
  }

  &::after {
    display: none;
  }
}

.work__prev {
  left: -8px;
  background: url("../img/work-icon.webp") no-repeat center center / contain;

  @include mq(md) {
    left: 1px;
  }
}

.work__next {
  right: 10px;
  background: url("../img/work-icon-2.webp") no-repeat center center / contain;

  @include mq(md) {
    right: 1px;
  }
}

// .work_icon {
// }

.work__button {
  padding-right: 20px;
  margin-top: 30px;
  text-align: center;

  @include mq(md) {
    margin-top: 24px;
    padding-right: 0;
  }
}

/* -------------------------
     service
  ------------------------- */

.service {
  background: #f4fbff;
}

.service__inner {
  padding-inline: 30px;

  @include mq(lg) {
    padding-inline: 60px;
  }

  @include mq(xl) {
    padding-inline: 80px;
  }
}

.service__heading {
  margin-bottom: 46px;

  @include mq(md) {
    margin-bottom: 40px;
  }

  @include mq(xl) {
    padding-left: 80px;
  }
}

// .service__heading-title {
// }

// .service__heading-subtitle {
// }

.service__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-inline: 34px;

  @include mq(md) {
    gap: calc(15px + 15 * ((100vw - 768px) / (899 - 768)));
    flex-direction: row;
  }

  @include mq(lg) {
    gap: 30px;
  }
}

.service__box {
  width: 100%;

  @include mq(md) {
    width: 30vw;
    max-width: 300px;
  }
}

.service-box {
  padding-bottom: 30px;
  border-radius: 10px;
  border: 0 solid #707070;
  background: #fff;
  text-align: center;
}

// .is-box {
// }

.service-box__title {
  color: #2392db;
  font-size: 20px;
  font-weight: 700;
  padding-top: 28px;
}

// .is-title {
// }

.service-box__price {
  margin-top: 7px;
  color: #2392db;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 3.6px;
}

.is-price {
  margin-top: 6px;
  margin-left: 3px;
}

.is-price-2 {
  margin-top: 7px;
  margin-left: 3px;
}

.space {
  margin-top: 7px;

  @include mq(md) {
    margin-top: 8px;
  }
}

.is-required {
  color: $color-base;
  font-size: $font-size-base;
  font-weight: 700;
  display: inline-block;
}

.service-box__table {
  margin-top: 28px;
  margin-inline: auto;

  @include mq(xl) {
    margin-top: 28px;
  }
}

.is-table {
  margin-top: 21px;
}

.is-table-2 {
  margin-top: 20px;
}

.service-box__tr {
  display: flex;
  justify-content: space-between;
  table-layout: fixed;
  border-bottom: 1px solid #c2c2c2;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-inline: 12px;
  width: 61vw;
  margin-inline: auto;

  @include mq(md) {
    width: 23vw;
    max-width: 261px;
  }
}

// .is-tr {
// }

.is-tr-2 {
  padding-top: 5px;
  padding-bottom: 6px;
}

// .service-box__th {
// }

// .service-box__td {
// }

.service-box__button {
  margin-top: 27px;
}

/* -------------------------
     company
    ------------------------- */

// .company {
// }

.company__inner {
  @include mq(md) {
    padding-inline: 40px;
  }

  @include mq(lg) {
    padding-inline: 80px;
  }
}

.company__heading {
  padding-left: 15px;

  @include mq(md) {
    gap: 24px;
  }

  @include mq(xl) {
    padding-left: 110px;
  }
}

// .company__heading-title {
// }

// .company__heading-subtitle {
// }

.company__tab {
  display: flex;
  position: relative;
  z-index: layer(modal);
  top: 46px;
  box-shadow: 5px 7px 34px 0 #f1f1f1;
  max-width: 366px;
  margin-inline: auto;

  @include mq(md) {
    top: 40px;
    max-width: 600px;
  }
}

.company-tab {
  display: flex;
}

.company-tab__menu {
  background: #fff;
  color: #2392db;
  font-weight: 700;
  padding-block: 10px;
  padding-inline: 29px;
  text-align: center;
  cursor: pointer;
  position: relative;

  @include mq(md) {
    width: 200px;
    padding: 26px 50px 26px 76px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    width: 5px;
    height: 5px;
    margin: auto;
    border-top: 2px solid #2392db;
    border-right: 2px solid #2392db;
    transform: translateY(-2px) rotate(135deg);
    box-sizing: border-box;

    @include mq(md) {
      left: 57px;
      width: 8px;
      height: 8px;
    }
  }
}

// .is-tab__menu {
//   border-right: 1px solid #2392db;
//   padding-left: 44px;
//   padding-right: 45px;

//   @include mq(md) {
//     padding-left: 85px;
//     padding-right: 57px;
//   }

//   &::before {
//     @include mq(md) {
//       left: 73px;
//     }
//   }
// }

.current {
  background: #2392db;
  color: #fff;

  &::before {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }
}

.company__group {
  border: 2px solid #2392db;
  background: #fff;
  margin-top: 22px;
  position: relative;
  z-index: layer(floating);
  margin-inline: auto;

  @include mq(md) {
    margin-top: 0;
    max-width: 900px;
    width: 84vw;
  }
}

// .company-group__content {
//   // display: none;
// }

.company-group__heading {
  font-size: 22px;
  font-weight: 700;
  margin-top: 57px;
  text-align: center;

  @include mq(md) {
    margin-top: 88px;
  }
}

.company-group__text {
  text-align: center;
  margin-top: 19px;

  @include mq(md) {
    margin-top: 17px;
  }
}

.company-group__dl {
  margin-top: 20px;
  margin-bottom: 47px;

  // margin-inline: auto;
  display: flex;
  flex-direction: column;

  // justify-content: center;
  align-items: center;

  @include mq(md) {
    margin-top: 39px;
    margin-bottom: 93px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
    max-width: 800px;
    margin-inline: auto;

    .company-group__row:nth-of-type(1) {
      grid-area: 1 / 1 / 2 / 3;
    }

    .company-group__row:nth-of-type(2) {
      grid-area: 2 / 1 / 3 / 3;
    }

    .company-group__row:nth-of-type(3) {
      grid-area: 3 / 1 / 4 / 5;
    }

    .company-group__row:nth-of-type(4) {
      grid-area: 1 / 3 / 2 / 5;
    }

    .company-group__row:nth-of-type(5) {
      grid-area: 2 / 3 / 3 / 5;
    }
  }
}

.company-group__row {
  display: flex;

  // justify-content: center;
  // max-width: 320px;
  // margin-inline: auto;

  @include mq(md) {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
  }
}

// .company-group__tr {
// }

.company-group__term {
  border: 1px solid #dbdbdb;
  background: #f2f2f2;
  font-weight: 700;
  width: 160px;
  display: grid;
  place-items: center;
  padding-block: 14px;

  @include mq(md) {
    width: 200px;
  }
}

// .is-group__th {
//   height: 80px;

//   @include mq(md) {
//     height: 54px;
//   }
// }

.company-group__description {
  border: 1px solid #dbdbdb;
  background: #fff;
  width: 42.7vw;
  padding-left: 10px;

  // height: 54px;
  display: flex;
  align-items: center;

  @include mq(md) {
    width: 200px;
    padding-left: 24px;
  }
}

.company-group__description-text {
  margin-left: 4px;
}

// // 3番目の行（本社所在地）のdd要素だけ幅を変更
// .company-group__row:nth-child(3) {
//   @include mq(md) {
//     grid-column: 1 / -1;
//   }

//   .company-group__description {
//     @include mq(md) {
//       width: calc(100% - 200px);
//     }
//   }
// }

.company-group__timeline {
  margin-top: 42px;
  margin-bottom: 122px;
  margin-left: 45px;

  @include mq(md) {
    width: 185px;
    margin-top: 78px;
    margin-bottom: 43px;
    margin-inline: min(
      372px,
      calc(242px + 130 * ((100vw - 768px) / (1280 - 768)))
    );
  }
}

.company-timeline__date {
  color: #2392db;
  font-weight: 700;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%; /* 丸くする */
    width: 9px;
    left: -17px;
    top: 50%;
    height: 9px;
    transform: translateY(-50%);
    flex-shrink: 0;
    background: #2bcbc6;
  }
}

.company-timeline__text {
  margin-top: 2px;
  margin-bottom: 15px;
  color: #000;

  @include mq(md) {
    margin-left: 0;
    margin-bottom: 16px;
  }
}

.company-group__information {
  margin: 54px 26px 165px 28px;

  @include mq(md) {
    margin-top: 78px;
    margin-bottom: 209px;
    width: min(600px, 50vw);
    margin-inline: auto;
  }
}

.company-group__info-term {
  color: #2392db;
  font-weight: 700;
}

.company-group__info-description {
  margin-top: 14px;

  @include mq(md) {
    margin-top: 16px;
  }
}

/* -------------------------
     cta
    ------------------------- */

.cta {
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  text-align: center;

  @include mq(md) {
    padding-block: 80px;
  }
}

.cta__inner {
}

.cta__title {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2.6px;
}

.cta__text {
  margin-top: 8px;
  color: #fff;
  letter-spacing: 1.6px;
  font-size: 16px;
}

.cta__button {
  margin-top: 17px;
}

.cta__buttons {
  border-radius: 50px;
  border: 2px solid #fff;
  padding-block: calc(9px - 2px);
  padding-inline: calc(54px - 2px);

  // 共通クラスのボタンのbackgroundを無効にしないと、うまくctaにあてたbackgroundが反映されない。
  background: none;
}

/* -------------------------
   blog
  ------------------------- */

.blog {
}

.blog__inner {
  padding-left: 30px;
  padding-right: 38px;

  @include mq(md) {
    padding-inline: 47px;
  }

  @include mq(xl) {
    padding-inline: 80px;
  }
}

.blog-heading {
  @include mq(md) {
    gap: 25px;
  }
}

.blog-heading__title {
}

.blog-heading__subtitle {
  @include mq(md) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog__container {
  display: grid;
  gap: 14px;
  margin-top: 46px;

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 20px;
    margin-top: 60px;
    margin-inline: auto;
  }

  @include mq(xl) {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }
}

.blog__card {
  margin-inline: auto;

  @include mq(xl) {
    max-width: 360px;
  }
}

.blog-card {
}

.blog-card__post {
  padding-inline: 15px;
  padding-top: 12px;
  border-radius: 4px;
  box-shadow: 5px 7px 34px 0 #f1f1f1;
}

.blog-card__image {
  position: relative;
}

.blog-card__label {
  // blog__card-imageを親要素として、blog__card-labelを配置する。
  position: absolute;

  // rightとtopを0に設定することで、親要素であるblog__card-imageの右上に配置される。
  right: 0;
  top: 0;
  background: #2392db;
  width: 100px;
  height: 24px;
  padding: 3px 32px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.blog-card__title {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 700;
}

.blog-card__text {
  margin-top: 4px;
  padding-bottom: 16px;
  font-size: 13px;
}

.blog__button {
  margin-top: 44px;
  text-align: center;

  @include mq(md) {
    margin-top: 59px;
  }

  @include mq(xl) {
    margin-top: 58px;
    margin-left: 20px;
  }
}

/* -------------------------
   event
  ------------------------- */

.event {
}

.event__inner {
  @include mq(md) {
    padding-inline: 30px;
  }

  @include mq(xl) {
    padding-inline: 80px;
  }
}

.event-heading {
  gap: 3px;
  padding-left: 15px;

  @include mq(md) {
    margin-top: 3px;
    gap: 27px;
  }

  @include mq(xl) {
    padding-left: 20px;
  }
}

.event-heading__title {
}

.event-heading__subtitle {
}

.event__container {
  margin-block: 46px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-inline: auto;

  @include mq(md) {
    margin-top: 36px;
    margin-bottom: 40px;
    gap: 39px;
    max-width: 1080px;
  }
}

.event__card {
}

.event-card {
}

.event-card__post {
  padding-bottom: 30px;
  border-radius: 6px;
  border: 0 solid #707070;
  box-shadow: 5px 7px 34px 0 #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq(md) {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.event-card__image {
  padding: 23px 37px 21px;

  @include mq(md) {
    padding: 24px 0 24px 24px;
  }

  img {
    @include mq(md) {
      max-width: 324px;
      width: 30vw;
      height: 100%;

      // 要素の縦横比を維持したまま、要素を切り取る。
      object-fit: cover;
    }
  }
}

.event-card__content {
  margin-inline: 12px;

  @include mq(md) {
    margin: 26px 24px 24px 30px;
    max-width: 678px;
  }
}

.event-card__head {
  display: flex;
  gap: 10px;
}

.event-card__label {
  width: 60px;
  height: 24px;
  padding: 6px 12px;
  border-radius: 2px;
  background: #2392db;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
}

.event-card__date {
  font-weight: 500;
}

.event-card__title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;

  @include mq(md) {
    margin-top: 9px;
  }
}

.event-card__text {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;

  @include mq(md) {
    margin-top: 14px;
  }
}

.event-card__button {
  text-align: right;
  margin-top: 25px;

  @include mq(md) {
    margin-top: 20px;
  }
}

.event__button {
  text-align: center;
  margin-right: -3px;
}

.buttons {
}

.event-card__buttons {
  // border分の1pxを引く。
  padding-block: calc(8px - 1px);

  // padding-inline: calc(44px - 1px);
  padding-inline: 0;
  width: 158px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

/* -------------------------
   faq
  ------------------------- */

.faq {
  background: #f4fbff;

  @include mq(md) {
    padding-bottom: 127px;
  }
}

.faq__inner {
  padding-inline: 15px;

  @include mq(md) {
    padding-inline: 80px;
  }
}

.faq__heading {
  font-size: 36px;
  letter-spacing: 3.6px;
  gap: 2px;
}

.section__head {
}

.faq__container {
  margin-inline: auto;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include mq(md) {
    margin-top: 44px;
    gap: 23px;
    max-width: 800px;
  }
}

.faq__box {
}

.faq-box {
}

.faq-box__head {
  display: flex;
  border-radius: 10px;
  border: 0 solid #707070;
  background: var(--rgb-255255255, #fff);
  position: relative;
}

.faq-box__head-icon {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  padding: 7px 15px 13px 14px;
  border-radius: 10px 0 0 10px;
  background: #238fdc;
  position: absolute;
  left: 0;
  height: 100%;

  @include mq(md) {
    width: 71px;
    height: 51px;
    padding: 10px 25px 15px;
  }
}

.is-type-2 {
  display: grid;
  place-items: center;
  height: 100%;

  @include mq(md) {
    margin-top: 1px;
  }
}

.faq-box__head-text {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 9px;
  display: block;
  text-align: left;
  margin-left: 60px;

  @include mq(md) {
    margin-left: 85px;
    font-size: 16px;
  }

  &::before,
  &::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #2392db;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 1s;

    @include mq(md) {
      right: 14px;
    }
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);
  }
}

.is-head-text-2 {
  padding-right: 42px;

  @include mq(md) {
    padding-top: 12px;
  }
}

.faq-box__head-text.open::after {
  transform: translateY(-50%) rotate(0);
}

.faq-text-1 {
  margin-top: 1px;
}

.faq-box__body {
  margin-top: 12px;
  margin-left: 20px;
  border-radius: 10px;
  background: #fff;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-inline: 10px;
  display: none;

  @include mq(md) {
    margin-top: 6px;
    margin-left: 41px;
    margin-bottom: 0;
    padding: 13px 14px 11px;
  }
}

.faq-box__body-text {
  display: block;
  font-size: 14px;

  @include mq(md) {
    font-size: 16px;
  }
}

/* -------------------------
   footer
  ------------------------- */

.footer {
  background: linear-gradient(90deg, #2390dc 0%, #2bc8c8 100%);
  text-align: center;
}

.footer__inner {
  @include mq(md) {
    padding-inline: 40px;
  }

  @include mq(lg) {
    padding-inline: 80px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include mq(md) {
    flex-direction: row;
    gap: 0;
  }
}

.footer__content {
  margin-top: 46px;

  @include mq(md) {
    text-align: left;
    margin-top: 66px;
  }

  @include mq(xl) {
    margin-left: 29px;
  }
}

.footer__logo {
  img {
    width: 160px;
  }
}

.footer__address {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include mq(md) {
    margin-top: 16px;
  }
}

.footer__text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

.footer__text-2 {
  font-weight: 400;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mq(md) {
    margin-top: 62px;
    margin-left: min(78px, 7vw);
    flex-direction: row;
    gap: 25px;
  }
}

.footer__item {
}

.is-line {
  @include mq(md) {
    padding-inline: 25px;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 1px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 16px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

.footer-sns-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 36px;

  @include mq(md) {
    margin-top: 60px;
    margin-bottom: 0;
    margin-left: min(87px, 8vw);
  }
}

.footer-sns-item {
}

.footer-sns-link {
}

.footer__wrapper {
  padding-block: 6px;

  @include mq(md) {
    margin-top: 56px;
  }
}

.footer__copyright {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
